/* .container div {
    height: 50px;
}

.color1{
    background-color: red;
}

.color2{
    background-color: yellow;
}

@media print{
    .color1{
        display: none;
    }
} */



.color1{
    background-color: rgb(219, 156, 60);
    height: 80px;
}

.color2{
    background-color: rgb(219, 228, 92);
    height: 80px;
}

.color3{
    background-color: rgb(188, 164, 231);
    height: 80px;
}

.color4{
    background-color: rgb(204, 131, 131);
    height: 80px;
}

.color5{
    background-color: rgb(106, 181, 231);
    height: 80px;
}

.color6{
    background-color: rgb(166, 230, 247);
    height: 80px;
}

.color7{
    background-color: rgb(214, 228, 231);
    height: 80px;
}

